
@using EventTicket.App_Code;
@using System.Data;
@{
    ViewBag.Title = "NewProductPackingForm";
    Layout = "~/Views/Shared/StockShop.cshtml";
    DataTable todayStock = new DataTable();
    DataTable expense = new DataTable();
    StockBase db = new StockBase();
    int TotalCost = 0;
    int ShopID = Convert.ToInt32(Session["CurrentUserID"]);
}

@using (Html.BeginForm("ProcessExpenseForce", "StockShop"))
{
    <p class="zg">
        <div class="contentHeadBox">
            <font color="#8B7D6B" class="zg"><b>အသံုးစာရိတ္အား ၾကည္​့ရန္​ ​</b> ​ေအာက္​ပါတို႔ကို ျဖည္​့ပါ</font><br /><br />
            <div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" name="FromDate" class="form-control" id="datepicker" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" name="ToDate" class="form-control" id="Todatepicker" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                                <center> <span class="zg"><input type="submit" class="btn btn-primary" value="ၾကည္​့မည္" /></span></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-body">
                <font color="#8B7D6B" class="zg"> သင္​​​့လုပ္​ငန္​း၏ အသံုးစာရိတ္အား ျဖစ္​သည္​။</font><br /><br />
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">No</th>
                            <th class="hidecell"> <span class="zg">Type​</span></th>
                            <th><span class="zg">Name</span></th>
                            <th><span class="zg">Cost</span></th>
                            <th>Date</th>

                        </tr>
                        @{

                            if (ViewBag.FromDate != null)
                            {
                                int i = 1;
                                DataTable Invoice = db.getAllByQuery("select * from Expense where ShopID=" + ShopID + " and Date>='" + ViewBag.FromDate + "' and Date<='" + ViewBag.ToDate + "'");
                                foreach (DataRow rows in Invoice.Rows)
                                {
                                    TotalCost = TotalCost + Convert.ToInt32(rows["Cost"]);
                                     <tr>
                                        <td>@i</td>
                                        <td>@db.getStringByQuery("select * from ExpenseCategory where ID="+Convert.ToInt32(rows["ExpenseCategoryID"]),"Name")</td>
                                        <td class="hidecell">@rows["Name"]</td>
                                        <td>@rows["Cost"]</td>
                                        <td>@rows["Date"]</td>
                                    </tr>
                                    i++;
                                }
                            }

                        }
                        <tr><td colspan="3"><b>Total</b></td><td><b>@TotalCost</b> Kyats</td></tr>
                    </tbody>
                </table>
            </div>


        </div>
    </p>
                            }
